@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto.ttf);
} 
/*
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: bolder;
} 
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: lighter;
} 
*/
@font-face {
    font-family: sss;
    src: url(../fonts/square.ttf);
} 
@font-face {
    font-family: digi;
    src: url(../fonts/SUBWT.ttf);
} 
@font-face {
    font-family: capture;
    src: url(../fonts/Capture.ttf);
} 

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	margin: 0;
	padding: 0;
	border: none;
}

body {
	background-image: url();
	background-repeat: repeat;
	Background-attachment: scroll;
	overflow: scroll;
	background-color: rgba(241, 241, 241, 1);
	font-family: roboto;
}
header {
	width: 100%;
	height: auto;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top_bar {
	background-color: #efefef;
	color: black;
	width: 100%;
    height: 8vh;
    text-align: center;
    z-index: 100;
}

.nar_bar {
	width: 100%;	
	height: 7vh;
	line-height: 6vh;
	z-index: 99;
	margin-bottom: 0px;
	font-family: capture;
	box-shadow: 0px 2px 5px #888888
}

.nar_bar ul {
	background-color: #354458;
	text-align: center;
	list-style-type: none;
}

.main_menu {
	width: calc(100% - 50px);
	height: 100%;
	float: left;
	margin-bottom: 0px;
}

.main_menu i {
	width: 20%;
}

.nar_bar li {
	display: inline-block;
	width: 150px;
	height: 100%;
	position: relative;
	transition: 0.5s;
	float: left;
}
.nar_bar li:hover {
	background-color: black;
}
.nar_bar a {
	height: 100%;
	text-decoration: none;
	display: block;
	color: white;
}

#admin {
	border-top: 5px solid #7f7f7f;
}
#admin:hover {
	background-color: #7f7f7f;
	border-top: 5px solid #354458;
}
#news {
	border-top: 5px solid #db3340;
}
#news:hover, #new:active {
	background-color: #db3340;
	border-top: 5px solid #354458;
}
#chatbot {
	border-top: 5px solid #28abe3;
}
#chatbot:hover {
	background-color: #28abe3;
	border-top: 5px solid #354458;
}
#games {
	border-top: 5px solid #1fda9a;
}
#games:hover {
	background-color: #1fda9a;
	border-top: 5px solid #354458;
}
#about {
	border-top: 5px solid #e1d041;
}
#about:hover {
	background-color: #e1d041;
	border-top: 5px solid #354458;
}
#login_out {
	border-top: 5px solid #f38630;
}
#login_out:hover {
	background-color: #f38630;
	border-top: 5px solid #354458;
}

#hide {
	background-color: #7f7f7f;
	width: 50px;
	height: 100%;
	text-align: center;
	float: right;
	margin-bottom: 0px;
}

#hide:hover {
	background-color: #354458;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
/*
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
*/
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.nar_bar li:hover .sub_menu {
	display: block;
}

.sub_menu {
	display: none;
	position: absolute;
	z-index: 99;
}
.sub_menu li:hover .sub_sub_menu {
	display: block;
}

.sub_sub_menu {
	display: none;
	position: absolute;
	left: 150px;
	top: 0px;
	z-index: 99;
}

.content1 {
	width: 100%;
	color: black;
	position: relative;
	overflow: auto;
}

#hello {
	background-image: url("../img/Hello.jpg");
	width: 100%;
	height: 100vh;
	font-size: 200%;
	font-family: capture;
	color: white;
	padding-top: 10vh;
	padding-left: 5vw;
}
#hello h1{
	display: block;
	font-size: 250%;
	transition: 0.5s;
}
#hello h1:hover{
	transform: scale(1.05);
}

#welcome {
	display: none;
}

#hello_bt {	
	cursor: pointer;
	background-color: rgba(100, 100, 100, 0);
	color: white;
	font-family: capture;
	text-align: left;
	margin-left: -30px;
}
#hello_bt span {
	display: inline-block;
	transition: 0.5s;
	padding-left: 30px;
}
#hello_bt span:after {
	content: ">>";
	opacity: 0;
	transition: 0.5s;
}
#hello_bt:hover span{
	padding-left: 0px;
}
#hello_bt:hover span:after {
	opacity: 1;
	padding-left: 10px;
}

#name_input {
	color: black;
	font-family: roboto;
}

#about_me {
	width: 100%;
	height: 100vh;
	padding-top: 10vh;
	text-align: center;
	font-family: ;
	font-size: 300%;
	overflow: auto;
}

#me {
	position: relative;
	height: 40vh;
	width: 40vh;
	border-radius: 50%;
	margin-left: calc(50% - 20vh);
	transition: 0.5s;
	float: left;
}
#qmark {
	position: absolute;
	left: 0;
	border-radius: 50%;
	transition: 0.5s;
	opacity: 1;
}

#me_picture {
	position: absolute;
	left: 0;
	border-radius: 50%;
	transition: 0.5s;
	opacity: 0;
}
#info {
	width: 30vw;
	height: 40vh;
	text-align: left;
	padding-left: 10vh;
	font-family: arial;
	font-size: 40%;
	transition: 0.5s;
	transform: scale(.5);
	float: left;
	opacity: 0;
}

#info a {
	margin-left: 5vh;
}
#time {
	width: 100%;
	height: auto;
	text-align: center;
	font-family: capture;
	padding-top: 100px;
	z-index: 99;
}
#time_value0 {
	font-size: 400%;
}
#time_value1 {
	font-size: 300%;
}
#time_value2 {
	font-size: 700%;
}



#post_value {
	width: 100%;
	height: auto;
	font-size: 200%;
	word-wrap: break-word;
}
#social li {

}

.footer {
	background-color: rgba(231, 231, 231, 1);
	color: black;
	width: 100%;
	height: 160px;
	position: relative;
	z-index: 99;

}

.contact {
	width: 100%;
	text-align: center;
	font-size: 17px;
	position: absolute;
}

/*
.footer  a {
	text-decoration:none;
	
}
.footer a:hover {
	background-color: white;
}
.footer a:active {
	color: red;
	font-weight: bold;
}
*/
.inline {
	display: inline;
}

.block {
	display: block;
}

/*login_out*/

.login {
	width: 100%;
	height: 86vh;
	padding-left: calc(50vw - 220px);
	padding-right: calc(50vw - 220px);
	padding-top: 5vh;
	padding-bottom: 3vh;
}

.login_box {
	height: 60%;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px #888888;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 0%;
}

.top_box {
	width: 100%;
	height: 20%;
	background-color: #354458;
	box-shadow: 5px 5px 5px #888888;
	text-align: center;

}
.bottom_box {
	width: 100%;
	height: 20%;
	background-color: #efefef;
	box-shadow: 5px 5px 5px #888888;
	text-align: left;
	padding-left: 10%;
	padding-top: 8%;

}

.login #usr, .login #pass {
	width: 100%;
	height: 15%;
	padding-left: 5%;
}

#login_bt {
	border-radius: 15px;
	margin-top: 10%;
	width: 30%;
	height: 15%;
	float: right;
	margin-left: 5%;
}

#signup_bt {
	border-radius: 15px;
	margin-top: 10%;
	width: 30%;
	height: 15%;
	float: right;
}

.signup {
	width: 100%;
	height: 86vh;
	padding-left: calc(50vw - 250px);
	padding-right: calc(50vw - 250px);
	padding-top: 5vh;
	padding-bottom: 0vh;
}
.signup_box {
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px #888888;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 0%;
}
#name, #email, #usr, #pass, #re_pass {
	width: 100%;
	height: 7%;
	padding-left: 5%;
	border: 1px solid #354458;
	border-radius: 15px;
}
.signup #signup_bt {
	border-radius: 15px;
	margin-top: 10%;
	width: 30%;
	height: 8%;
	float: right;
}
.logo {
	margin-left: 10%;
}
.error {
	color: #dd2c00;
	width: 100%;
}

#auto_submit {
	display: none;
}

.acc_finish {
	width: 100%;
	height: 86vh;
	padding-left: calc(50vw - 250px);
	padding-right: calc(50vw - 250px);
	padding-top: 30vh;
	padding-bottom: 30vh;
}
.noti_box {
	height: 100px;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px #888888;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

/*news*/
.page {
	width: 100vw;
	height: 90vh;
	padding-top: 1vh;
}
.side_bar {
	width: 300px;
	height: 100%;
	float: left;
	text-align: center; 
	background-color: #354458;
	box-shadow: 2px 2px 5px #888888;
	transition: 0.5s;
}
#user {
	width: 100%;
	height: 130px;
	padding-top: 3vh;
	padding-left: 5%;
	background-color: #f1f1f1;
	color: #354458;
}
#user_icon {
	float: left;
}
.side_menu {
	width: 100%;
	padding-left: 15%;
	text-align: left;
	background-color: #354458;
	color: white;
}
.side_menu i {
	width: 10%;
}
.side_bar li {
	list-style: none;
	height: 30px;
	line-height: 30px;
}
.side_menu a {
	height: 100%;
	text-decoration: none;
	display: block;
	color: white;
}

.content {
	width: calc(100% - 300px);
	height: 100%;
	padding-top: 5vh;
	padding-left: 50px;
	float: right;
}

.delete{
	background-color: #9f0000;
	color: white;
}

.text {
	height: 40px;
	width: 500px;
	border-radius: 10px;
	padding-left: 15px;
}
.button {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50px;
	width: 100px;
	border-radius: 10px;
}
.button i {
	width: 20%;
}

.sbutton {
	height: 30px;
	width: 30px;
	border-radius: 5px;
}


/*bot*/

.top {
	width: 100vw;
	height: 70vh;
}
.bottom {
	height: 15vh;
	padding-top: 0vh;
	text-align: center;
}
.left, .right {
	height: 100%;
	width: 50%;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.left {
	float: left;
}
.right {
	float: right;
}

.man, .dog {
	height: 100%;
	width: 100%;
}

#man_say, #dog_say {
	height: 10%;
}

#say {
	border-radius: 25px;
	height: 7vh;
	width: 50vw;
	padding-left: 3vh;
}

#submit {
	border-radius: 25px;
	height: 7vh;
	width: 5vw;
}

#mod {
	padding-top: 4vh;
}

.center {
	padding-left: 30vw;
	padding-right: 30vw;
	padding-top: 20vh;
	padding-bottom: 20vh;
}