body {
	background-color: rgb(241, 241, 241);
}

table, tr, th{
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
	background-color: rgb(200, 250, 100);
}

tr {
	height: 100/13%;
}

th {
	
}

ul {
	list-style: none;
}

#row0 {
	background-color: rgb(150, 200, 100);
}

.nghi {
	background-color: rgb(250, 250, 150);
}

.hoc {
	text-align: left;
	background-color: rgb(50, 150, 200);
}