body {
	background-color: #f1f1f1;
	font-family: "Arial";
	color: #354458;
}
.wrapper {
	height: ;
	width: ;
	padding-top: 5vh;
	padding-left: calc(50vw - 500px);
	padding-right: calc(50vw - 500px);

}
table {
	margin-top: 5vh;
	width: 1000px;
	background-color: transparent;
	font-size: 160%;
}
table, tr, td{
	border-top: 2px solid #e9ecef;
	border-collapse: collapse;
}
tr {
	height: 50px;
}
tr:hover {
	background-color: #e9ecef;
}
td {
	
}
.row0 {
	
}
.upload {
	position: relative;
}
#button {
	height: 50px;
	width: 100px;
	border-radius: 10px;
	border-width: 0px;
}
#file {
	opacity: 0;
}